<div class="row">
    <div class="col-sm-12">
        <h1>Introduction</h1>
        <p>
            This application takes in a JSON file describing the network nodes that are connected to the 4 default switches.
            Each connected node to a switch is highlighted with a colour corresponding to a port on the switch.
            A grey dot indicates an unused port on a switch.
        </p>
        <h1>Requirements</h1>
        <p>Refer to the file "sample.json" for the required format and fields:</p>
        <ul>
            <li>"targetSwitch" must be "s1", "s2", "s3" or "s4".</li>
            <li>"targetPort" must be in the format "s[x]-[yy]" where [x] is 1-4 and [yy] is 01-48.</li>
            <li>"classes" is for styling the node but have yet to be implemented and thus can be "" for now.</li>
        </ul>
        <h1>Usage</h1>
        <p>To start:</p>
        <ol>
            <li>Click on "Example" in the top menu.</li>
            <li>Click on the "Choose file" to import a JSON file.</li>
        </ol>
    </div>
</div>